@model LiteCommerce.DomainModels.Category
@{
    ViewBag.Title = "Manager Categories";
    ViewBag.SmallTitle = "Input";
}


<div class="box box-primary">
    <form role="form" action="~/Categori/Input" method="post">
        <div class="box-header text-right">
            <a href="~/Categori">Back to List</a>
        </div>
        <div class="box-body">
            <div class="form-group row">
                <input type="hidden" name="CategoryID" value="@Model.CategoryID"/>
                <div class="col-sm-6">
                    <label>Category Name: @Html.ValidationMessage("CategoryName", new { @class = "text-danger" })</label>
                    <input type="text" class="form-control" name="CategoryName" value="@Model.CategoryName" placeholder="Enter Category Name">
                </div>
                <div class="col-sm-6">
                    <label>Decriptions:</label>
                    <input type="text" class="form-control" placeholder="Ex: SmartPhone,..,etc" name="Description" value="@Model.Description">
                </div>
            </div>
        
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-save"></i> Save
            </button>
            <a class="btn btn-sm btn-default" href="~/Supplier">
                Cancel
            </a>
        </div>
    </form>
</div>
